.phoneCarousel{
    background-image: url(./../img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 200px 0;
}

.phoneCarousel h1 {
color: $color-blue;
}

.products h2{
    color: $color-blue;
}

.products img {
    border-radius: 10px;
}

